<p>
  <mat-toolbar color="primary">
    <span style="cursor: pointer" routerLink="">D3 + Angular</span>
    <span class="example-spacer"></span>
    <button routerLink="/pie" mat-icon-button matTooltip="Pie Chart">
      <mat-icon>pie_chart</mat-icon>
    </button>
    <button routerLink="/bar" mat-icon-button matTooltip="Bar Chart">
      <mat-icon>bar_chart</mat-icon>
    </button>
    <button routerLink="/scatter" mat-icon-button matTooltip="Scatter Plot">
      <mat-icon>scatter_plot</mat-icon>
    </button>
    <button routerLink="/heat" mat-icon-button matTooltip="Heat Map">
      <mat-icon>hvac</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="container">
  <router-outlet></router-outlet>
</div>
